body {
    background-color: #B4A06E;
}
.Search .TextInClass{
    width: 70%;
    margin: 10px;
    padding: 5px;
}
.Search .Radio{
    margin-left: 20px;
}
.CenterBox{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.InnerBook{
    display:flex; 
    flex-flow: wrap;
}
.SearchPage {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    background: #2C433B;
    border-radius: 10px;
}
.PreviewClass {
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    height: 15em;
    width: 10em;
    background: #C4C4C4;
    position: inherit;  
    margin: 20px;
}
.OuterBox{
    height: 100%;
}
.ListClass{
    display:flex;
    background-color: white;
    margin: 20px;   
    padding-bottom: 80px;
    flex-flow:wrap;
}
.DetailClass {
    position: relative;
    top: 81%;
    display: flex;
    flex-direction: column;
}
    .DetailClass span{
        line-height: 23px;
        text-align: center;
        white-space: nowrap;
        overflow:hidden;
        background-color: dimgray;
        width: 80% !important;
        height: 1.5em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: darkgray;
        border-radius: 5px;
        padding-left: 5px;
        border: black solid 1px;
        margin: 1px;
    }
.CoverImage{
    top: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 1000%;
    border: none;
    background-color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ToolBar button {
    background-image: url("../ControlImages/Login.png");    
    position: relative;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.ToolBar {
    background-color: #2C433B;
    margin: 10px;
    height: 2.5em;
    border-radius: 2px;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 0px;
}