body {
    background-color: #B4A06E;
}
.Search .TextInClass{
    width: 70%;
    margin: 10px;
    padding: 5px;
}
.Search .Radio{
    margin-left: 20px;
}
.SearchPage {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    background: #2C433B;
    border-radius: 10px;
    height: 100vh;
}
.PreviewClass {
    display: block;
    margin: 1vw;
    height: 30vh;
    width: 12vw;
    padding-top: 5px;
    background: #C4C4C4;
}
.OuterBox{
    height: 100vh;
    overflow: hidden;
}
.ListClass{
    display:flex;
    background-color: white;
    margin: 20px;
    height: 100%;
}
.DetailClass {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .DetailClass .Detail {
        top:2.5vh;
        color: red;
        text-overflow: clip;
        display: block;
        text-align: center;
        white-space: nowrap;
        background-color: dimgray;
        width:80%;
        position:relative;
        left:50%;
        transform:translateX(-50%);
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 5px;
        color: darkgray;
        border-radius: 5px;
    }
.CoverImage{
    width:10vw;
    height: 20vh;  
    overflow:hidden;
    position: relative;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}
.ToolBar button {
    background-image: url("ControlImages/Login.png");
}
.ToolBar {
    background-color: #2C433B;
    margin: 10px;
    height: 6.5vh;
    border-radius: 2px;
    width: 70%;
    position: absolute;
    right: 0px;
    top: 0px;
}